server {
    listen 80;
    listen [::]:80;

    server_name {{ item.domain_name }};

    root {{ item.base_dir }};

    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
    }

    # deny access to scm repo dir
    location ~ /\.hg {
        deny all;
    }
    location ~ /\.git {
        deny all;
    }
}
